{% extends "base.html" %}

{% block content %}
  <div class="frame-div-cat">
    <pre>
           __..--''``---....___   _..._    __
 /// //_.-'    .-/";  `        ``<._  ``.''_ `. / // /
///_.-' _..--.'_    \                    `( ) ) // //
/ (_..-' // (< _     ;_..__               ; `' / ///
 / // // //  `-._,_)' // / ``--...____..-' /// / //

 |\---/|
  | ,_, |
          \_`_/-..----.
              ___/ `   ' ,""+ \  sk
            (__...'   __\    |`.___.';
              (_,...'(_,.`__)/'.....+

             _ |\_
               \` ..\
            __,.-" =__Y=
        ."        )
  _    /   ,    \/\_
 ((____|    )_-\ \_-`
 `-----'`-----` `--`



    /\_____/\
   /  o   o  \
  ( ==  ^  == )
   )         (
  (           )
 ( (  )   (  ) )
(__(__)___(__)__)
    </pre>
</div>
{% endblock %}