{% extends "base.html" %}

{% block content %}
<div class="frame-div-cv">
  <p><pre>
              .-.
   heehee      /aa \_
                   __\-  / )                 .-.
         .-.      (__/    /        haha    _/oo \
       _/ ..\       /     \               ( \v  /__
      ( \  u/__    /       \__             \/   ___)
       \    \__)   \_.-._._   )  .-.       /     \
       /     \             `-`  / ee\_    /       \_
    __/       \               __\  o/ )   \_.-.__   )
   (   _._.-._/     hoho     (___   \/           '-'
    '-'                        /     \
                             _/       \    teehee
                            (   __.-._/
  

До 32 лет работал инженером по сценическому освещению в сфере шоу-бизнеса, после 
чего твердо решил сменить профессию и следовать за мечтой стать частью IT-сообщества. 
Закончил курсы backend-разработки на Python\Django, заинтересовался системным анализом 
и выбрал это направление для построения карьеры.

По долгу службы довольно глубоко интегрирован в отдел разработки, больше всего в профессии 
нравится помогать программистам проектировать и реализовывать системы (почти всегда это 
стэк C#, React, MSSQL\PostgreSQL).

Принимал участие в полном цикле разработки ПО:
- Сбор требований у заказчиков
- Формализация требований собранных бизнес-аналитиком
- Проектирование
- Написание ТЗ
- Декомпозиция ТЗ на задачи для разработки
- Сопровождение разработки
- Приемочное тестирование
- Подготовка и сопровождение ПСИ
- Обновление эксплуатационной документации и спецификаций
- Техподдержка (анализ, постановка задач по инцидентам, написание SQL-скриптов, выгрузки из БД)

Участвовал в интегрировании систем по протоколам HTTP (REST API), DB-LINK, SOAP.

Имею опыт работы с Apache KAFKA.

Артефакты:
- Аналитические записки
- ТЗ/ЧТЗ
- ПМИ
- Спецификации (интеграционные, как правило)
- Эксплуатационная документация
- Постановки задач на разработку

Уверенно владею Python, Django, SQL (PostgreSQL, MSSQL, SQLite3).

Имею опыт работы со следующими инструментами:
- таск-трекеры: Jira, YouTrack, TFS
- базы знаний: Confluence, XWiki
- инструменты для работы с API: SoapUI, Postman, SWAGGER
- СУБД: MSSQL, PostreSQL, SQLite3, MongoDB
- IDE: Visual Studio, VSCode, PyCharm, Atom
- графические конструкторы: MS Visio, draw.io

Также имею опыт работы с Sparx Enterprise Architect: проектирование БД, документирование, построение 
диаграмм, интеграция с СУБД по ODBC, экспорт скриптов создания БД.

В свободное время люблю повозиться в консоли Linux-сервера, можно посмотреть результаты тут - http://riabow.com/
Репозиторий сайта - https://github.com/riabov-vladimir/singlepagesite1

Хотел бы работать в продуктовой компании над крупным долгоиграющим проектом. Комфортнее всего себя 
чувствую работая продолжительно над одним проектом, хорошо зная продукт и неся за него ответственность.

С наилучшими пожеланиями,
  Wolodia
  </pre></p>
</div>
{% endblock %}
