{% extends "base.html" %}

{% block content %}


<div class="frame-div-cv">
<p>Всем привет! </p><p>Меня зовут Володя и мне {{ age }} секунд от роду...</p>
<p>До 32 лет я работал в сфере шоу-бизнеса инженером по сценическому освещению, после чего твердо решил сменить профессию и следовать за мечтой стать частью IT-сообщества. Начал свой путь с курсов backend-разработки на Python\Django, далее заинтересовался системным анализом и выбрал это направление для построения карьеры.</p>


<p>Принимал участие в полном цикле разработки ПО:</p><ul>
<li>Сбор требований у заказчиков
<li>Формализация требований собранных бизнес-аналитиком
<li>Проектирование
<li>Написание ТЗ
<li>Декомпозиция ТЗ на задачи для разработки
<li>Сопровождение разработки
<li>Приемочное тестирование
<li>Подготовка и сопровождение ПСИ
<li>Обновление эксплуатационной документации и спецификаций
<li>Техподдержка (анализ, постановка задач по инцидентам, написание SQL-скриптов, выгрузки из БД)</li></ul>

<p>По долгу службы довольно глубоко интегрирован в отдел разработки, больше всего в профессии нравится помогать программистам проектировать и реализовывать системы (почти всегда это стэк C#, React, MSSQL\PostgreSQL).</p>

<p>Участвовал в интегрировании систем по протоколам HTTP (REST API), DB-LINK, SOAP.

Имею опыт работы с Apache KAFKA.</p>

<p>Артефакты:</p><ul>
<li>Аналитические записки
<li>ТЗ/ЧТЗ
<li>ПМИ
<li>Спецификации (интеграционные, как правило)
<li>Эксплуатационная документация
<li>Постановки задач на разработку</li></ul>

<p>Уверенно владею Python, Django, SQL (PostgreSQL, MSSQL, SQLite3).</p>

<p>Имею опыт работы со следующими инструментами:</p><ul>
<li>таск-трекеры: Jira, YouTrack, TFS
<li>базы знаний: Confluence, XWiki
<li>инструменты для работы с API: SoapUI, Postman, SWAGGER
<li>СУБД: MSSQL, PostreSQL, SQLite3, MongoDB
<li>IDE: Visual Studio, VSCode, PyCharm, Atom
<li>графические конструкторы: MS Visio, draw.io</li></ul>

<p>Также имею опыт работы с Sparx Enterprise Architect: проектирование БД, документирование, построение
диаграмм, интеграция с СУБД по ODBC, экспорт скриптов создания БД.</p>

В свободное время люблю повозиться в консоли Linux-сервера, можно посмотреть результаты тут - http://riabow.com/
Репозиторий сайта - https://github.com/riabov-vladimir/singlepagesite1</p>

Хотел бы работать в продуктовой компании над крупным долгоиграющим проектом. Комфортнее всего себя
чувствую работая продолжительно над одним проектом, хорошо зная продукт и неся за него ответственность.</p>

С наилучшими пожеланиями,
  Wolodia
</div>
{% endblock %}
