{% extends "base.html" %}

{% block content %}
<div class="frame-div-cv">
  <p><pre>
              .-.
   heehee      /aa \_
                   __\-  / )                 .-.
         .-.      (__/    /        haha    _/oo \
       _/ ..\       /     \               ( \v  /__
      ( \  u/__    /       \__             \/   ___)
       \    \__)   \_.-._._   )  .-.       /     \
       /     \             `-`  / ee\_    /       \_
    __/       \               __\  o/ )   \_.-.__   )
   (   _._.-._/     hoho     (___   \/           '-'
    '-'                        /     \
                             _/       \    teehee
                            (   __.-._/
  </pre></p>
</div>
{% endblock %}